* {
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

html{
	scroll-behavior: smooth;
}

input:-ms-input-placeholder {
	color: grey;
}

input::-webkit-input-placeholder {
	color: grey;
}

select {
	width: 100%;
	max-width: 500px;
	padding: 20px 20px;
	border: 2px solid #3b82f6;
	border-radius: 25px;
	outline: none;
	font-size: 16px;
	appearance: none;
	background: #fff url('../image/arrow.svg') no-repeat right 20px center;
}

select:focus {
	border-color: #1e40af;
	box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
}

select:invalid {
	color: gray;
}

select option {
	color: black;
}

body {
	background: #f5f7fb;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 220px;
	padding: 20px 20px;
	position: sticky;
	top: 0;
	z-index: 1000;
	background: #f5f7fb;
	border-radius: 25px;
}

.nav a {
	margin: 0 15px;
	text-decoration: none;
	color: #1f3c91;
	font-weight: 500;
	font-size: 20px;
}

.logo {
	font-weight: bold;
	color: #1f3c91;
	font-size: 30px;
}

.logo img {
	width: 30px;
	height: 30px;
}

.user img {
	width: 30px;
	height: 30px;
	transform: translateY(1px);
	cursor: pointer;
}

.user {
	color: #1f3c91;
	font-size: 22px;
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
}

.one {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	padding: 30px 20px;
	align-items: flex-end;
	margin: 20px 200px;
}

.card {
	width: 390px;
	height: 680px;
	border-radius: 20px;
	overflow: hidden;
	background: #e6ecff;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.card2 {
	width: 650px;
	height: 440px;
	border-radius: 20px;
	overflow: hidden;
	background: #e6ecff;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.ones {
	font-size: 60px;
	font-weight: 700;
	background: linear-gradient(90deg, #1f3c91, #09122b);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 15%;
	margin-top: 20px;
}

.TGSII {
	background: linear-gradient(to bottom, #49B3F7, #f5f7fb);
}

.three {
	margin: 0 270px;
}

.threes {
	font-size: 48px;
	font-weight: 700;
	color: #1f3c91;
	margin: 0px 290px;
	margin-bottom: 50px;
}

.brains {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 35px;
}

.brain {
	width: 650px;
	height: 400px;
	transition: 0.3s;
	overflow: hidden;
	border-radius: 35px;
}

.brain img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 35px;
}

.brain:hover {
	transform: translateY(-10px) scale(1.03);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

/* .brain::after {
	content: " ";
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0);
	transition: 0.3s;
} */

.brain:hover::after {
	background: rgba(0, 0, 0, 0);
}

.four {
	margin: 0 270px;
}

.foures {
	font-size: 48px;
	font-weight: 700;
	color: #1f3c91;
	margin: 50px 290px;
}

.reds {
	display: flex;
	align-items: center;
	gap: 35px;
}

.red {
	width: 400px;
	height: 500px;
}

.red img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 35px;
}

.red1 {
	width: 50px;
	height: 50px;
}

.red2 {
	width: 50px;
	height: 50px;
}

.two {
	text-align: center;
	color: #1f3c91;
	padding: 50px 0;
	background: linear-gradient(to bottom, #f5f7fb, #49B3F7);
}

.two h2 {
	font-size: 48px;
	margin-bottom: 40px;
}

.circle {
	position: relative;
	width: 1000px;
	height: 600px;
	margin: 0 auto;
}

.center {
	position: absolute;
	font-size: 32px;
	top: 50%;
	left: 50%;
	width: 300px;
	transform: translate(-50%, -50%);
	text-align: center;
	font-weight: bold;
}

.item {
	position: absolute;
	width: 180px;
	font-size: 32px;
	text-align: center;
}

.top-left {
	top: 0;
	left: 0;
}

.top-right {
	top: 0;
	right: 0;
}

.bottom-left {
	bottom: 0;
	left: 0;
}

.bottom-right {
	bottom: 0;
	right: 0;
}

.arrow {
	position: absolute;
	width: 270px;
	height: 200px;
}

.arrow1 {
	top: 150px;
	left: 0px;
	transform: rotate(-60deg);
}

.arrow2 {
	top: 80px;
	right: 170px;
	transform: rotate(-15deg);
}

.arrow3 {
	bottom: -50px;
	left: 350px;
	transform: rotate(210deg);
}

.arrow4 {
	bottom: 250px;
	right: -50px;
	transform: rotate(120deg);
}

.courses {
	text-align: center;
	padding: 60px 20px;
}

.courses h2 {
	font-size: 48px;
	color: #1e3a8a;
	margin-bottom: 40px;
}


.slider {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cards {
	display: flex;
	gap: 30px;
}

.card3 {
	width: 320px;
	height: 400px;
	border-radius: 20px;
	overflow: hidden;
	text-decoration: none;
	transition: 0.3s;
	background: #fff;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
	position: relative;
	cursor: pointer;
}

.card3 img {
	width: 100%;
	display: block;
}

.card3:hover {
	transform: translateY(-10px) scale(1.03);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.card3::after {
	content: " ";
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0);
	transition: 0.3s;
}

.card3:hover::after {
	background: rgba(0, 0, 0, 0);
}

.arrows {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: none;
	border: none;
	font-size: 40px;
	cursor: pointer;
	color: #1e3a8a;
}

.arrows.left {
	left: 140px;
}

.arrows.right {
	right: 140px;
}

.find-course {
	text-align: center;
	padding: 60px 20px;
	background: #f5f9ff;
}

.find-course h2 {
	font-size: 48px;
	color: #1e3a8a;
}

.subtitle {
	color: #6b7280;
	margin-top: 20px;
	margin-bottom: 40px;
	font-size: 24px;
}

.row {
	display: flex;
	justify-content: center;
	gap: 60px;
	margin-bottom: 20px;
}

.field {
	display: flex;
	flex-direction: column;
	width: 450px;
	text-align: left;
}

.field label {
	margin-bottom: 12px;
	font-size: 16px;
	color: #1e3a8a;
	font-weight: 600;
}

.field input {
	width: 100%;
	max-width: 500px;
	padding: 20px 20px;
	border: 2px solid #3b82f6;
	border-radius: 25px;
	outline: none;
	font-size: 16px;
}

.field input:focus {
	border-color: #1e40af;
	box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
}

.btn {
	width: 300px;
	margin-top: 40px;
	padding: 18px 40px;
	border: none;
	border-radius: 25px;
	background: linear-gradient(90deg, #3b82f6, #6366f1);
	color: white;
	font-size: 18px;
	cursor: pointer;
}

.btn:hover {
	opacity: 0.9;
}

.faq {
	padding: 40px 20px;
	text-align: center;
}

.faq h2 {
	font-size: 48px;
	color: #1e3a8a;
	margin-bottom: 30px;
}

.faq-item {
	max-width: 1000px;
	margin: 15px auto;
}

.faq-question {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 30px;
	border: 2px solid #3b82f6;
	border-radius: 25px;
	cursor: pointer;
	font-size: 20px;
	color: #1e3a8a;
	transition: 0.3s;
}

.faq-question:hover {
	background: #f0f6ff;
}

.arrow4 {
	font-size: 24px;
	transition: 0.3s;
	transform: rotate(180deg);
}

.faq-answer {
	max-height: 0;
	overflow: hidden;
	transition: 0.3s;
	text-align: left;
	padding: 0 25px;
	color: #374151;
	font-size: 18px;
	line-height: 1.5;
}

.faq-item.active .faq-answer {
	max-height: 200px;
	padding: 20px 30px;
	font-weight: 500;
}

.faq-item.active .arrow4 {
	transform: rotate(0deg);
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
}

.modal-content {
	background: white;
	padding: 30px;
	border-radius: 25px;
	max-width: 800px;
	width: 90%;
	position: relative;
}

.close {
	position: absolute;
	top: 15px;
	right: 20px;
	font-size: 35px;
	cursor: pointer;
}

.modal-body {
	display: flex;
	gap: 30px;
	align-items: center;
}

.modal-body img {
	width: 250px;
	border-radius: 15px;
}

.info h2 {
	color: #1e3a8a;
}

.info p {
	margin: 8px 0;
	font-size: 20px;
}

.btn2 {
	margin-top: 15px;
	padding: 20px 35px;
	font-size: 20px;
	border: none;
	border-radius: 20px;
	background: linear-gradient(90deg, #3b82f6, #6366f1);
	color: white;
	cursor: pointer;
}

.text{
	text-decoration: none;
	color: inherit;
}

.TGSII2 {
	background: linear-gradient(to bottom, #f5f7fb, #49B3F7);
}

.three2 {
	margin: 0 270px;
}

.threes2 {
	font-size: 48px;
	font-weight: 700;
	color: #1f3c91;
	margin: 0px 290px;
	margin-bottom: 50px;
}

.brains2 {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 35px;
}

.brain2 {
	width: 700px;
	height: 200px;
	border: #618AEA;
	border-radius: 20px;
	transition: 0.3s;
	overflow: hidden;
	border-radius: 35px;
}

.brain3 {
	width: 1400px;
	height: 200px;
	border: #618AEA;
	border-radius: 20px;
	transition: 0.3s;
	overflow: hidden;
	border-radius: 35px;
}

.brain2 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 35px;
}

.brain3 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 35px;
}

.brain2:hover {
	transform: translateY(-10px) scale(1.03);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

/* .brain2::after {
	content: " ";
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0);
	transition: 0.3s;
} */

.brain2:hover::after {
	background: rgba(0, 0, 0, 0);
}

.brain3:hover {
	transform: translateY(-10px) scale(1.03);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

/* .brain3::after {
	content: " ";
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0);
	transition: 0.3s;
} */

.brain3:hover::after {
	background: rgba(0, 0, 0, 0);
}

.TGSII3 {
	background:#49B3F7;
}

.three3 {
	margin: 0 270px;
}

.threes3 {
	font-size: 48px;
	font-weight: 700;
	color: #1f3c91;
	margin: 0px 290px;
	margin-bottom: 50px;
}

.brains3 {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 35px;
}

.brain4 {
	width: 700px;
	height: 450px;
	border: #618AEA;
	border-radius: 20px;
	transition: 0.3s;
	overflow: hidden;
	border-radius: 35px;
}

.brain5 {
	width: 1400px;
	height: 370px;
	border: #618AEA;
	border-radius: 20px;
	transition: 0.3s;
	overflow: hidden;
	border-radius: 35px;
}

.brain4 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 35px;
}

.brain5 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 35px;
}

.brain4:hover {
	transform: translateY(-10px) scale(1.03);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

/* .brain4::after {
	content: " ";
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0);
	transition: 0.3s;
} */

.brain4:hover::after {
	background: rgba(0, 0, 0, 0);
}

.brain5:hover {
	transform: translateY(-10px) scale(1.03);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

/* .brain5::after {
	content: " ";
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0);
	transition: 0.3s;
} */

.brain5:hover::after {
	background: rgba(0, 0, 0, 0);
}

.TGSII4 {
	background: linear-gradient(to bottom, #49B3F7, #f5f7fb);;
}

.three4 {
	margin: 0 270px;
}

.threes4 {
	font-size: 48px;
	font-weight: 700;
	color: #1f3c91;
	margin: 0px 290px;
	margin-bottom: 50px;
}

.brains4 {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 35px;
}

.brain6 {
	width: 1600px;
	height: 100px;
	border: #618AEA;
	border-radius: 20px;
	transition: 0.3s;
	overflow: hidden;
	border-radius: 35px;
}

.brain7 {
	width: 1600px;
	height: 900px;
	border: #618AEA;
	border-radius: 20px;
	transition: 0.3s;
	overflow: hidden;
	border-radius: 35px;
}

.brain6 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 35px;
}

.brain7 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 35px;
}

.brain6:hover {
	transform: translateY(-10px) scale(1.03);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}
/* 
.brain6::after {
	content: " ";
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0);
	transition: 0.3s;
} */

.brain6:hover::after {
	background: rgba(0, 0, 0, 0);
}

.brain7:hover {
	transform: translateY(-10px) scale(1.03);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

/* .brain7::after {
	content: " ";
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0);
	transition: 0.3s;
} */

.brain7:hover::after {
	background: rgba(0, 0, 0, 0);
}

footer{
	margin-top: 40px;
	border-top: 3px solid #618AEA;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
	padding: 15px 20px;
	background-color: #fff;
}

.container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.left2{
	display: flex;
	align-items: center;
	gap: 15px;
	font-size: 20px;
}

.socials a{
	text-decoration: none;
	margin-right: 8px;
	color: #333;
}

.right2{
	display: flex;
	gap: 20px;
	color: #333;
	font-size: 20px;
}

.logo2{
	color: #1F3C91;
}

.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex;
}

.role-container {
  background: white;
  padding: 20px;
  border-radius: 15px;
  width: 400px;
  height: 170px;
}

.role-list {
  display: flex;
  flex-direction: column;
}

.role-item {
  position: relative;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.role-item:hover {
  background: #eef3ff;
}

.submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 10px;
  background: white;
  border-radius: 10px;
  padding: 15px;
  min-width: 200px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.submenu a {
  display: block;
  padding: 8px 0;
  text-decoration: none;
  color: #1F3C91;
}

.submenu a:hover {
  color: #61AEAE;
}

.submenu hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.role-item:hover .submenu {
  display: block;
}

.courses-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 9999;

  justify-content: center;
  align-items: center;
}

.courses-modal__content {
  width: 700px;
  background: white;
  border-radius: 25px;
  border: 2px solid #6EA8FE;
  padding: 30px;
  text-align: center;
}

.courses-modal__title {
  font-size: 26px;
  margin-bottom: 20px;
}

.courses-modal__slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.course-card {
  border-radius: 20px;
  overflow: hidden;
  background: #f5f7fb;
  position: relative;
}

.course-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.course-card.active {
  width: 160px;
}

.course-card.small {
  width: 160px;
  opacity: 0.7;
}

.course-label {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  /* background: linear-gradient(135deg, #1e63d5, #3a8cff); */
  color: white;
  padding: 10px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
}

.courses-modal__btn {
  margin-top: 20px;
  padding: 12px 40px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(135deg, #8bb6f7, #6fa3ef);
  color: white;
  font-size: 16px;
  cursor: pointer;
}